BODY {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	margin: 0px;
}
P {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TD {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
HR {
	HEIGHT: 1px
}
.pagedesriptionbar {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #336699; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.maintenancebar {
	font-family: verdana, arial, helvetica, sans-serif; 
	font-weight: bold; 
	font-Size: 10pt; 
	color: #ffffff;
	background: #FF0000; 
	background-color: #FF0000;
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: large; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: medium; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: small; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.tabsel {
	FONT-WEIGHT: bold; COLOR: #13416E; BACKGROUND-COLOR: #ffffff
}
.tabnotsel {
	FONT-WEIGHT: bold; COLOR: #FFF; BACKGROUND-COLOR: #577796
}
.brandfirst {
	FONT-WEIGHT: bold; COLOR: #320033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.brandsec {
	FONT-WEIGHT: bold; COLOR: #336699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.productrow1 {
	FONT-SIZE: 8pt; BACKGROUND: #dddddd; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.productrow2 {
	FONT-SIZE: 8pt; BACKGROUND: #eeeeee; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #336699; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.titlerow {
	FONT-SIZE: 10pt; BACKGROUND: #bbcfe1; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.list {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.rowtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; BACKGROUND-COLOR: #6699cc;
}
.list-header {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; BACKGROUND-COLOR: #6699cc
}
.table-header {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; BACKGROUND-COLOR: #6699cc
}
.invoiceroweven {
	FONT-SIZE: 9pt; BACKGROUND-COLOR: #dddddd
}
.invoicerowodd {
	FONT-SIZE: 9pt; BACKGROUND-COLOR: #eeeeee
}
.roweven {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #dddddd
}
.rowodd {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #eeeeee
}
.rowplain {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ffffff
}
.form-label {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #dddddd
}
.form-widget {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #eeeeee
}
.form-required-mark {
	COLOR: #ff0000
}
.rowgreen {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #00ff00
}
.rowyellow {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ffff00
}
.rowred {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ff0000
}
.form-error {
	FONT-SIZE: 8pt; COLOR: #ff0000
}
.form-required-mark {
	FONT-SIZE: 8pt; COLOR: #ff0000
}
.tablebody {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ffffff
}
.tableheader {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #eeeeee
}
.list-even {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #dddddd
}
.list-odd {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #eeeeee
}
.list-gold {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #e0e0e0
	font-weight: bold
}
.small {
	FONT-SIZE: xx-small; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.small A
{
  COLOR: #FFFFFF;
}
.small A:link {
  COLOR: #FFFFFF;
}
.small A:visited {
  COLOR: #FFFFFF;
}
.small A:active {
  COLOR: #FFFFFF;
}
.small A:hover {
  COLOR: #FFFFFF;
}
.vivcomm {
	COLOR: #006600
}
.fabcomm {
	COLOR: #000066
}
A.titlerow:link {
	COLOR: #000000
}
A.titlerow:visited {
	COLOR: #000000
}
A.titlerow:active {
	COLOR: #000000
}
A.titlerow:hover {
	COLOR: #000000
}
A.blacklink:link {
	COLOR: #000000
}
A.blacklink:visited {
	COLOR: #000000
}
A.blacklink:active {
	COLOR: #000000
}
A.blacklink:hover {
	COLOR: #000000
}
A.whitelink:link {
	COLOR: #13416E;
}
A.whitelink:visited {
	COLOR: #13416E;
}
A.whitelink:active {
	COLOR: #13416E;
}
A.whitelink:hover {
	COLOR: #13416E;
}
A.bluelink:link {
	COLOR: #13416E;
	text-decoration:none;
}
A.bluelink:visited {
	COLOR: #13416E;
	text-decoration:none;
}
A.bluelink:active {
	COLOR: #13416E;
	text-decoration:none;
}
A.bluelink:hover {
	COLOR: #423428;
	text-decoration:none;
}
A.paginacion:link {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.tabnotsel A:link{
	FONT-WEIGHT: bold; COLOR: #FFF; TEXT-DECORATION: none
}
.tabnotsel A:visited{
	FONT-WEIGHT: bold; COLOR: #FFF;TEXT-DECORATION: none
}
.tabnotsel A:active{
	FONT-WEIGHT: bold; COLOR: #FFF; TEXT-DECORATION: none
}
.tabnotsel A:hover{
	FONT-WEIGHT: bold; COLOR: #C3D5E7; BACKGROUND-COLOR: #577796
}
A:link{
	COLOR: #13416E;
}
A:visited{
	COLOR: #13416E;
}
A:active{
	COLOR: #13416E;
}
A:hover{
	COLOR: #13416E;
}
A.paginacion:active {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
A.paginacion:visited {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
A.paginacion:hover {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: underline
}
.headerBig {
	FONT-WEIGHT: bold; FONT-SIZE: small; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.rowfilestorage {
	BACKGROUND-COLOR: #ecf5e5; TEXT-ALIGN: left
}
.contextbar {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A.contextbar:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A.contextbar:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A.contextbar:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A.contextbar:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
#subsite-name {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 120%; FONT-FAMILY: verdana
}
A.subsite-name {
	COLOR: black; TEXT-DECORATION: none
}
A.subsite-name:hover {
	COLOR: black; TEXT-DECORATION: none
}
#page-body {
	MARGIN-LEFT: 8px; MARGIN-RIGHT: 8px
}
#subnavbar-div {
	BORDER-BOTTOM: #666 1px solid
}
#subnavbar-container {
	WIDTH: 742px; POSITION: relative; HEIGHT: 35px
}
#navbar_class{
 background-color: #13416E;
}
#footer_klass{
 background-color: #336699;
}
#footer_klass TD{
 color : white;
}
#footer_klass A{
 color : white;
}
#navbar_right_class{
 background-color: #13416E;
}
#navbar_right_class A {
 color: white; 
}
#whosonline_class {
 color: white;
}
#subnavbar_class{
 background-color: #13416E;
}
#header_class{
 background-color: #13416E;
}
#subnavbar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 100%; RIGHT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; WIDTH: 720px; BOTTOM: -2px; PADDING-TOP: 0px; FONT-FAMILY: Arial, sans-serif; POSITION: absolute; HEIGHT: 21px
}
UNKNOWN {
	BOTTOM: 0px
}
#subnavbar .tab {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 2px; BORDER-LEFT: #666 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #666 1px solid; HEIGHT: 16px; BACKGROUND-COLOR: #eeeeee
}
#subnavbar A {
	COLOR: black; TEXT-DECORATION: none
}
#subnavbar A:hover {
	TEXT-DECORATION: underline
}
#subnavbar #subnavbar-here {
	BORDER-BOTTOM-COLOR: white; BACKGROUND-COLOR: white
}
#subnavbar #subnavbar-here A {
	COLOR: black
}
#subnavbar-body {
	CLEAR: both; BORDER-RIGHT: #016799 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; BORDER-LEFT: #016799 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #016799 1px solid; BACKGROUND-COLOR: white
}
