
.extjs-indent-level-0 {
        font-size: 11px; padding-left: 5px
}
.extjs-indent-level-1 {
        font-size: 11px; padding-left: 25px
}
.extjs-indent-level-2 {
        font-size: 11px; padding-left: 45px
}
.extjs-indent-level-3 {
        font-size: 11px; padding-left: 65px
}
.extjs-indent-level-4 {
        font-size: 11px; padding-left: 85px
}
.extjs-indent-level-5 {
        font-size: 11px; padding-left: 105px
}
.extjs-indent-level-6 {
        font-size: 11px; padding-left: 125px
}
.extjs-indent-level-7 {
        font-size: 11px; padding-left: 145px
}
.extjs-indent-level-8 {
        font-size: 11px; padding-left: 165px
}

.po-nowrap {
    white-space: nowrap
}

.btnAction {
    background: url("/../icons/icon.png);
    width: 80px;
    height: 40px;
}
