
/* global settings */

* {
  padding: 0px;
  margin: 0px;
}

/* fix select boxes in firefox */
option {
  margin-right: 0.5em;
}

.nobr {
   white-space: nowrap
}

ul, ol {
   padding-left: 2em;
}

/* header area */

#header_settings_tab {
   position: absolute;
   top: 0px;
   right: 7em;
   /* IE6/7 hack */
   /* width: 50%; */
   /* right: 100px; */
}

#header_logout_tab {
   position: absolute;
   right: 0px;
   top: 0px;
   width: 7em;
   /* IE6/7 hack */
   /* width: 100px; */
}

#slave_content {
  position: relative;
  min-height: 600px;
/*  _height: 600px; 
  overflow: none; */
}

.month_header {
	color: #000
}


/**********************************************************************
/* Site-Wide/Master Templates
/**********************************************************************/

#skiptocontent {
  display: none;
}

.block-marker {display: none;}


/* User Messages */

#alert-message {
  background-color: #ccff99; 
  padding: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 85%;
}

#alert-message .alert {
  margin-left: 0;
  padding-left: 2px;
  border: none;
}


/* Boxed User Message */

.boxed-user-message {
  background-color: #ccff99; 
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 85%;
  border: 1px solid #dd9988;
}

.boxed-user-message h3 {
  color: #990000;
  margin-top: 0px;
}

.boxed-user-message .body {
  color: #990000;
}



/**********************************************************************
/* Standard Elements
/**********************************************************************/

body {
  margin:0px 0px 0px 0px;
  padding:0;
  font:small/1.5em Tahoma, "Lucida Grande", sans-serif; voice-family: "\"}\""; voice-family:inherit;
}

h1 {
  font-size: 1.2em;
  font-weight: bold;
  color: #666666;
  margin-bottom: 12px;
}

h2 {
  font-size: 1.1em;
  font-weight:bold;
  color: #555555;
  margin-bottom: 12px;
}

h3 {
  font-size: 1.05em;
  font-weight:bold;
  color: #444444;
  margin-bottom: 12px;
}

h3 {
  font-size: 1.00em;
  font-weight:bold;
  color: #444444;
  margin-bottom: 12px;
}

a:link {
  color: #235c96;
  text-decoration:underline;
}

a:visited {
  color: #235c96;
}

a:hover {
  color: #235c96;
  background: #CCCCCC;
}


#sideBarTabImage, #sideBarTab {
 visibility: hidden;
}




/**********************************************************************
/* Button
/**********************************************************************/

a.button { 
  font: .85em arial;
  border: solid 1px black;
  background-color: #E1E1E1;
  text-align: center; 
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

a.button:link { 
  text-decoration: none;
  border: solid 1px black;
}

a.button:hover { 
  text-decoration: none;
  background-color: #CCCCCC;
  border: solid 1px black;
}

a.button:active { 
  text-decoration: none;
  border: solid 1px black;
}


/**********************************************************************
/* Button
/**********************************************************************/

.center {text-align: center;}
.small {font-size: x-small;}

/*  ARE THESE NEEDED ??? -----------------------------------------------------------*/

/* Various forms of links */

.action-list { 
  padding: 0;
}

.action-list ul { 
  margin: 0;
  padding: 0;
  display: inline;
  border: none;
}
                
.action-list ul li {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  display: inline;
}

div.subsite-context-bar {
  font-size: 85%;
  margin-bottom: 4px;
  position: relative;
}

a.admin-button { 
  font: 85% arial;
  border: solid 1px black;
  background-color: #aaa;
  text-align: center; 
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
a.admin-button:link { 
  text-decoration: none;
  border: solid 1px black;
  color: #111;
}
a.admin-button:visited { 
  text-decoration: none;
  border: solid 1px black;
}
a.admin-button:hover { 
  text-decoration: none;
  background-color: #ccc;
  border: solid 1px black;
}
a.admin-button:active { 
  text-decoration: none;
  border: solid 1px black;
}

a.admin:link, a.admin:visited {
  color: #f00;
  font-family: verdana;
  font-size: 11px;
  font-weight: normal;
}

a.admin:hover { 
  color: #fff; 
  background: #f00;
}

.highlight { 
  background-color: #ffc; 
}

ul.action-links li {
  list-style: circle url(/resources/acs-subsite/action-link-marker.png);
  margin: 8px;
  margin-left: -16px;
}





/* LISTS -----------------------------------------------------------*/

ul.compact, .action-list ul{
  margin: 0px;
  padding: 0px;
}
ul.compact li, .action-list ul li {
  list-style:none;
  display: inline;
}




.table_fixed_height {
	table-layout:fixed;
}

.table_fixed_height tbody tr td {
	/* text-overflow:ellipsis; */
	overflow:hidden;
	white-space:nowrap;
	border-bottom: 1px dashed #666;
}



/**********************************************************************
/* acs-developer-support Toolbar
/**********************************************************************/

#developer-toolbar {
  background-color: #616093;
  color: white;
  font-family: tahoma, verdana;
  font-size: 80%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#developer-toolbar td a { 
  border: solid 1px #616093;
  text-align: center; 
  color: white;
  text-decoration: none;
}
#developer-toolbar td a:hover { 
  text-decoration: none;
  background-color: #999999;
  border: solid 1px #cccccc;
}
#developer-toolbar #search {
  font: 80% tahoma;
  color: white;
}
#developer-toolbar #search input {
  font: 100% tahoma;
}
#developer-toolbar td a.on {
  background-color: #888888;
  border: solid 1px #cccccc;
}
#developer-toolbar td a:hover.on {
  background-color: #666666;
  border: solid 1px #999999;
}


/* 
Surveys
*/

.tabledata ol li {
	font-weight:bold;
	padding-bottom:20px;
	padding-top:20px;
}

.tabledata ol li blockquote {
        font-weight:normal;
}


.tabledata ol li blockquote, .tabledata ol li br {
        padding-top:15px;
}

.tabledata ol li br {
        margin-bottom:10px;
}

/* Warning message -> title */
.ms_project_warning_title {
        padding-top: 12px;
        color: #cc0000;
        font-family: verdana, arial, helvetica, sans-serif;
        font-weight: bold;
        font-Size: large;
}


/**********************************************************************
/* DEPRECATED CLASSES
/**********************************************************************/

/* Deprecated, not sure what it's replaced with just yet */
a.action {
  margin: 8px;
  margin-left: 24px;
  display: list-item;
  list-style: circle url(/resources/acs-subsite/right.gif);
}

/* Hide button*/
#sideBarTab{
	visibility: hidden;
	position: absolute;
}
 
#main_maintenance_bar {
        color:#DC143C;
        height:auto;
        left:300px;
        padding:3px;
        position:absolute;
        top:-90px;
        width:auto;
        font-weight: bold;
        font-size:2.0em;
}


.img-cap {
	position: relative;
	display: block;
}
.img-cap cite {
	/* 
	background: #111; 
	border-top: 1px solid #999;
	padding: 10px;
	*/
	filter:alpha(opacity=88);
	opacity:.88;
	color: #000;
	position: absolute;
	bottom: -1;
	left: 3;
}


