
/* global settings */

* {
  padding: 0px;
  margin: 0px;
}

.nobr {
   white-space: nowrap
}

ul, ol {
   padding-left: 2em;
}

/* header area */

#header_settings_tab {
   position: absolute;
   top: 0px;
   right: 7em;
   /* IE6 hack */
   _width: 50%;
   _right: 100px;
}

#header_logout_tab {
   position: absolute;
   right: 0px;
   top: 0px;
   width: 7em;
   /* IE6 hack */
   _width: 100px;
}


