
.x-panel-body-default {
    background: none repeat scroll 0 0 white;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0;
    color: black;
}

.x-panel-body {
    border-right: 0;
    border-style: none;
    border-width: 0;
    overflow: hidden;
    position: relative;
}

.action-column-icon-hide {
	visibility: hidden; 
}

#upload-form {
	border-color: #99BBE8;
	border-style: solid; 
	border-width: 1px;
	padding: 10px;
	height: 200px;
}


.extjs-button {
    font-weight: inherit;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 8pt;
}

/* BUTTONS */







/* http://particletree.com/features/rediscovering-the-button-element/ */

/* 
.buttons a, .buttons button, #btnSubmit, #btnCancel, #getNewQuote {
    margin:0 7px 0 0;
    background-color:#d8dada;
    border:1px solid #b7b8b8;
    border-top:1px solid #eee;
    border-left:1px solid #eee;    
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; 
}

.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; 
}

.buttons button[type]{
    padding:5px 10px 5px 7px; 
    line-height:17px; 
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; 
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

*/ 

.buttons a, .buttons button, #btnSubmit, #btnCancel, #getNewQuote {

    background-color: white;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F9F9F9 48%, #E2E2E2 52%, #E7E7E7);
    background-repeat: no-repeat;

    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #D1D1D1;

    font-style: normal;
    font-weight: normal;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;

    padding: 2px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    color: #333333;
}



