

			body { 
				//size:landscape;
				width:21.0cm;
				height:29.7cm; 
				margin-top:1cm;
				margin-bottom:1cm;
				margin-left:2cm;
				margin-right:0cm
		
				font-family:'Helvetica';
				font-style:normal;
				font-size:10pt;
				text-indent:0in;
				font-variant:normal;
				text-decoration:none;
				font-weight:normal;
				text-align:left;
			
			}
			#header {
				position: relative;
				width: 100%;
				height: 3cm;
				top: 0;
				bottom: auto;
				right: 0;
				left: 0;
			}          
			
			table {
				font-family:'Helvetica';
				font-size:10pt;
				border-width=0px;
				width:100%;
				border-collapse:collapse;
				empty-cells:show
				;table-layout:fixed;
				border-style:solid
			}
			
				
			td#head {
				padding-left:0.1cm;
				padding-right:0.1cm;
				padding-bottom:0.1cm;
				padding-top:0.1cm;
				vertical-align:middle;
				font-size:8pt;
				border-width:1px 0px;
			}
			
			td#content {
				padding-left:0.1cm;
				padding-right:0.1cm;
				padding-bottom:0.3cm;
				padding-top:0.3cm;
				vertical-align:middle;
				border-width:1px 0px;
			}
			
			tr#time{
				padding-left:0.1cm;
				padding-right:0.1cm;
				padding-bottom:0.1cm;
				padding-top:0.1cm;
				vertical-align:middle;
				font-size:10pt;
			}
			
			td#timetitle{
				padding-left:0.1cm;
				padding-right:0.1cm;
				padding-bottom:0.1cm;
				padding-top:0.1cm;
				border-width:0px 0px;
				font-weight:bold;
			}
			
			td#time{
				padding-left:0.1cm;
				padding-right:0.1cm;
				padding-bottom:0.1cm;
				padding-top:0.1cm;
				border-width:1px 0px;
			}
				
			col#datecol{
				width:2.5cm;	
			}
				col#hourcol{
				width:1.5cm;	
				}
				col#textcol{
				}
		 
			td#timesum{
				padding-left:0.1cm;
				padding-right:0.1cm;
				padding-bottom:0.1cm;
				padding-top:0.1cm;
				border-width:0px;
				font-style:italic;
			}
		 
			td#totalsum{
				padding-left:0.1cm;
				padding-right:0.1cm;
				padding-bottom:0.1cm;
				padding-top:0.1cm;
				border-width:0px 0px 1px;
				font-style:italic;
				font-weight:bold;
			}
			
			
					
			td#head {
				border-width:1px 0px;
			}	
			
			p, h1, h2, h3, li {
				color:#000000;
				font-family:'Helvetica';
				font-size:10pt;
				text-align:left;
				vertical-align:normal;
			}
			
			#title{
				font-family:'Helvetica';
				font-weight:bold;
				font-size:18pt
			}
			
			#subtitle{
				font-family:'Helvetica';
				font-weight:bold;
				font-size:10pt	
			}
			
			#headertable{
				margin-top:1.5cm;
				margin-bottom:1cm;
			}
			
			#timetable{
				margin-top:1.5cm;
				margin-bottom:0.5cm;
			}
			
